.headerDescription {
    max-width: 80%;
    margin-top: 24px;
    margin-bottom: 32px;
}

@media only screen and (min-width: 540px) {
    .headerButton {
        margin-left: 32px;
    }
}

@media only screen and (max-width: 541px) {
    .headerButton {
        margin-top: 16px;
    }
}
