.container {
    background-image: linear-gradient(to right, #5533ff, #5533ff, #28d0f5);
    padding: 120px 0 150px 0;
}

.desc {
    max-width: 500px;
    font-size: 1.2rem;
}

.itemsContainer {
    margin-top: -78px;
    margin-bottom: 120px;
    overflow-y: hidden;
    overflow-x: auto;
    height: 300px;
    white-space: nowrap;
}

.card {
    width: 300px;
    height: 300px;
    display: inline-block;
    margin-left: 16px;
}

.sliderInner {
    height: 100%;
    width: 200%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1.5rem;
    pointer-events: none;
    transition: 0s ease-in;
}
