.desc {
    max-width: 500px;
    font-size: 1.2rem;
}

.containerFeature {
    padding: 50px 0;
    justify-content: center;
}

.cardFeature {
    margin: 0 20px 16px 16px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex: 1;
    min-width: 200px !important;
    max-width: 263px;
}

.cardFeature:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 16px 0 rgba(0, 0, 0, 0.19);
}

.cardFeature {
    transition-duration: 1s;
}

.iconsRoot {
    margin-top: -19px;
    z-index: 999;
}

.iconContainer {
    background-color: white;
    border: solid 2px #dddddd;
    width: 38px;
    height: 38px;
    border-radius: 19px;
    padding: 8px;
    display: flex;
    transition-duration: 0.4s;
    margin-left: 16px;
}

.iconContainer:hover {
    background-color: #50cf8e;
}

.icon {
    transition-duration: 0.4s;
}

.career {
    font-size: 12px;
}
