.desc {
    max-width: 500px;
    font-size: 1.2rem;
}

.containerFeature {
    padding-top: 50px;
    justify-content: center;
}

.cardFeature {
    margin: 0 20px 16px 16px;
    padding: 32px 0;
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex: 1;
    min-width: 200px !important;
    max-width: 350px;
}

.cardFeature:hover {
    border-color: #50cf8e;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 16px 0 rgba(0, 0, 0, 0.19);
}

.cardFeature {
    transition-duration: 0.4s;
}

.price {
    font-size: 50px;
    color: #50cf8e;
}

.pricePrefix {
    color: #50cf8e;
    margin-right: 12px;
    margin-bottom: 32px;
}

.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
