.containerFeature {
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: center;
}

.cardFeature {
    margin: 0 20px 16px 16px;
    padding: 56px 0;
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex: 1;
    min-width: 200px !important;
    max-width: 350px;
}

.cardFeature:hover {
    border-color: #50cf8e;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 16px 0 rgba(0, 0, 0, 0.19);
}

.cardFeature {
    transition-duration: 0.4s;
}

.cardImageContainerFeature {
    background-color: #e3fff2;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    padding: 24px;
}
