.containerUp {
    position: fixed;
    bottom: 16px;
    right: 16px;
    /*top: 16px;*/
    z-index: 999999;
    width: 50px;
    height: 50px;
    padding: 6px;
    background-image: linear-gradient(to right, #5533ff, #5533ff, #28d0f5);
    border-radius: 4px;
    cursor: pointer;
}
