.container {
    padding: 100px 0 10px 0
}

.itemOne {
    /*padding: 0 32px;*/
    flex: 6;
    margin: 25px 0;
    /*margin-top: 50px;*/
    /*margin: 100px 0;*/
    /*height: 100%;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*!*align-items: center !important;*!*/
    /*justify-content: center !important;*/
}

.itemTwo {
    /*padding: 0 32px;*/
    flex: 4;
    margin: 25px 0;
}

.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.listItem {
    color: #d0cec8;
    cursor: pointer;
    transition-duration: 0.4s;
    margin-top: 8px;
}

.listItem:hover {
    margin-left: 4px;
    color: #50cf8e;
}

.p {
    color: #d0cec8;
}

.input {
    background-color: #180e29;
    border: solid 1px white;
    caret-color: white;
}

.input:focus {
    background-color: #180e29;
    box-shadow: none;
    border: solid 1px white;
}
