@import "../../styles/values";
@import "../../styles/mixins";

.container {
    margin-top: 100px;
}

.desc {
    max-width: 500px;
    font-size: 1.2rem;
}

.itemDownload {
    /*padding: 0 32px;*/
    flex: 6;
    margin-bottom: 100px;
    margin-top: 50px;
}

.itemDownloadImage {
    padding: 0 100px;
    flex: 4;
    margin-bottom: 100px;
    margin-top: 50px;
}

.input {
    width: 100%;
    padding: 16px 24px;
    font-size: 16px;
}

.input:focus {
    border: solid 1px $primaryColor;
    box-shadow: none;
    background-color: #e5fff3;
}

.inputContainer {
    margin-bottom: 24px;
}

