@import "../../styles/values";
@import "../../styles/mixins";

.container {
  background-color: #f9f9f9;
  padding: 100px 0;
  margin-top: 64px;
}

.desc {
  max-width: 500px;
  font-size: 1.2rem;
}

.containerFeature {
  padding: 50px 0;
  justify-content: center;
}

.cardFeature {
  margin: 0 20px 16px 16px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-width: 200px !important;
  max-width: 360px;
  position: relative;
  @include animationUp;
  cursor: pointer;
}

.cardFeature:hover {
  @include boxShadow;
  top: -4px;
  border: solid 1px $primaryColor;
  color: $primaryColor
}

.body {
  padding: 32px
}

.iconRoot {
  margin-left: 16px;
}

.iconContainer {
  width: 16px;
  height: 16px;
  display: flex;
}

.cardFooterItem {
  margin: 0;
  padding-left: 4px;
  font-size: 14px;
}
