.container {
    background-color: #f9f9f9;
    padding: 120px 0;
}

.desc {
    max-width: 500px;
    font-size: 1.2rem;
}

.itemsContainer {
    margin-top: 64px;
    /*padding: 0 64px;*/
}

@media only screen and (min-width: 540px) {
    .card {
        background-color: white;
        border: solid 1px #f9f9f9;
        width: 50%;
        padding: 24px;
        transition-duration: 1s;
    }
    .card:hover {
        background-color: white;
        border: solid 1px #f9f9f9;
        width: 50%;
        padding: 24px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 16px 0 rgba(0, 0, 0, 0.19);
        z-index: 999;
    }
}

@media only screen and (max-width: 541px) {
    .card {
        background-color: white;
        border: solid 1px #f9f9f9;
        width: 100%;
        padding: 24px;
        transition-duration: 1s;
    }
    .card:hover {
        background-color: white;
        border: solid 1px #f9f9f9;
        width: 100%;
        padding: 24px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 16px 0 rgba(0, 0, 0, 0.19);
        z-index: 999;
    }
}

.iconContainer {
    background-color: #e3fff2;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    padding: 32px;
    border: solid 1px #50cf8e;
    transition-duration: 1s;
    color: #50cf8e;
    margin-bottom: 24px;
}

.iconContainerHover {
    background-color: #50cf8e;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    padding: 32px;
    border: solid 1px #50cf8e;
    transition-duration: 1s;
    color: white;
    margin-bottom: 24px;
}

.itemDetails {
    flex: 1;
    margin-left: 24px;
}
