.container {
    padding: 120px 0 150px 0;
    position: relative;
}

.iconContainer {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 250px;
    left: 50%;
    z-index:999;
    background-color: #ffffff90;
    border-radius: 50px;
    padding: 32px 32px 38px 38px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.iconContainer:hover {
    background-color: #50cf8e90;
}

.content {
    height: 400px;
    max-width: 800px;
    width: 800px;
    background-color: white;
    margin-top: -400px;
    z-index: 999;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 16px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 200px;
}

.icon {
    transition-duration: 0.4s;
}
