@import "values";
@import "mixins";

/*
 override html tag style
 */

image {
  user-drag: none;
  user-select: none
}

a {
  cursor: pointer;
}

nav {
  @include gradiantBackground;
  transition-duration: 0.4s;
}

header {
  @include gradiantBackground;
  padding-right: 48px;
  padding-left: 48px;
}

/*
 override bootstrap classes
*/
button.btn {
  padding: 6px 24px;
}

button.btn-lg {
  padding: 12px 32px;
  font-size: 0.9rem !important;
  border-color: transparent;
}

button.btn-success {
  background-color: $primaryColor;
}

button.btn-success:hover {
  background-color: $primaryColor;
  border: solid 1px transparent;
}

button.btn-outline-success {
  border: solid 1px $primaryColor;
  color: $primaryColor;
  padding: 12px 32px;
  position: relative;
  @include animationUp;
}

button.btn-outline-success:hover {
  background-color: transparent;
  border: solid 1px $primaryColor;
  color: #000;
  padding: 12px 32px;
  @include transactionDuration;
  @include boxShadow;
  top: -4px;
}

button.text-success {
  color: $primaryColor !important;
}

a.nav-link {
  color: white !important;
  font-size: 18px;
  margin-left: 4px;
}

a.nav-link:after {
  display: block;
  content: '';
  border-bottom: solid 2px white;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

a.nav-link:hover:after {
  transform: scaleX(1);
}

a.nav-link:after {
  transform-origin: 0% 50%;
}

h6.text-success {
  color: $primaryColor !important
}

h5.text-success {
  color: $primaryColor !important
}

footer {
  background-color: #180e29;
}

/*
 my general classes
*/

.btn-shadow {
  @include transactionDuration;
  @include boxShadow;
}

.btn-shadow:hover {
  box-shadow: none;
}

.btn-shadow-up {
  @include boxShadow;
  position: relative;
  @include animationUp;
}

.btn-shadow-up:hover {
  @include boxShadow;
  top: -4px;
}

.btn-success-outline-hover {
  background-color: $primaryColor;
  color: white;
  transition: all .2s ease-in-out;
}

.btn-success-outline-hover:hover {
  background-color: transparent;
  border-color: white;
  color: white;
  @include transactionDuration;
  transform: scale(1.05);
}

.mt-200 {
  margin-top: 200px;
}

/*
 specific classes
*/
.btn-nav-bar {
  background-color: #7fc9fb !important;
  color: white !important;
  max-height: 48px;
  font-size: 1.25rem;
}

.nav-shadow {
  @include boxShadow;
}
