@mixin gradiantBackground {
  background-image: linear-gradient(to right, #5533ff, #5533ff, #28d0f5);
}

@mixin boxShadow {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 16px 0 rgba(0, 0, 0, 0.19);
}

@mixin transactionDuration {
  transition-duration: 0.4s;
}

@mixin animationUp {
  top: 0;
  transition: top ease 0.4s;
  transition-duration: 0.5s;
}
